.user-posts {
    background-color: lightgray;
    padding: 30px 0;
}

.user-posts h3 {
    text-align: center;
}

.user-posts__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px #565656;
    background-color: #eeeeee;
    text-align: start;
    list-style: none;
}

.user-posts__list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted #565656;
    margin: 15px;
}

.user-posts__list-item span {
    max-width: 25%;
    font-size: 16px;
}

.user-posts__list-item p {
    width: 60%;
    text-align: right;
}
